<div id="copyright">
  &copy; Copyright 2013 - GuitarLab is a collaboration between <%= link_to 'Brendan Hennessy', 'http://launchpadlab.com/' %> and <%= link_to 'Vince Amatuzzi', 'http://about.me/vinceamatuzzi' %></div>