<div id="copyright">
  &copy; Copyright <%= DateTime.now().strftime('%Y') %> - GuitarLab is a collaboration between <%= link_to 'Brendan Hennessy', 'http://launchpadlab.com/' %> and <%= link_to 'Vince Amatuzzi', 'http://vinceandvince.com' %></div>
